.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}

.logo {
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: row;
}